body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
section {
  margin-bottom: 30px;
}
.banner-section {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.mission-section {
  height: 450px;
  width: 80%;
  margin: 0 auto;
}
.develop-section {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.community-section {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.footer-section {
  height: 100px;
  text-align: center;
  color: white;
  padding: 20px 0px 10px;
  background-color: black;
}
.coloredText {
  color: steelblue;
}
.leftBorderDiv {
  border-left: 5px solid;
  border-image: linear-gradient(blue, steelblue);
  border-image-slice: 1;
  padding-left: 10px;
}
.common-btn {
  text-decoration: none;
  color: white;
  background-color: steelblue;
  padding: 15px 30px;
  margin: 10px 0px;
  border-radius: 5px;
  font-weight: 900;
}
.text-subSection {
  width: 60%;
  margin: 30px;
}
.image-subSection {
  width: 40%;
}
.image-subSection img {
  width: 100%;
  height: 100%;
}
.mission-elements {
  height: 350px;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
.single-element {
  width: 28%;
  border-radius: 10px;
  padding: 15px;
  border: 2px solid green;
}
.single-element img {
  height: 25%;
}
.center-text {
  text-align: center;
}
.mission {
  background-color: rgb(150, 140, 170);
}
.vission {
  background-color: rgb(133, 133, 163);
}
.goals {
  background-color: rgb(160, 133, 160);
}
h1 {
  font-size: 35px;
  font-weight: bold;
  margin: 5px 0px;
}
h2 {
  font-size: 25px;
}
p {
  font-size: 18px;
}
